.popup__input {
    display: flex;
    width: 358px;
    flex-direction: column;
    /* width: 100%; */
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
}

@media (max-width: 770px) {
    .popup__input {
        width: 238px;
    }
}