.basic {
    margin: auto;
}

.page {
    background-color: #000000;
}

.page__container {
    max-width: 1280px;
    min-width: 320px;
}

.header {
    max-width: 880px;
    min-width: 320px;
    padding-top: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .header {
        max-width: 740px;
    }
}

@media (max-width: 770px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
    }
}

.header__logo {
    max-width: 142px;
    margin: 0 0 41px 0;
}

@media (max-width: 770px) {
    .header__logo {
        max-width: 103px;
        margin: 0 0 27px 27px;
    }
}

.header__logo:hover {
    opacity: 0.9;
}

.header__line {
    width: 100%;
    margin-bottom: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 770px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}

.profile-container {
    max-width: 880px;
    min-width: 320px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: space-between;
    grid-template-rows: 120px;
}

@media (max-width: 900px) {
    .profile-container {
        max-width: 740px;
    }
}

@media (max-width: 770px) {
    .profile-container {
        max-width: 320px;
        padding-top: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.profile__avatar {
    max-width: 168px;
    min-width: 120px;
    background-image: url(./images/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

@media (max-width: 770px) {
    .profile__avatar {
        height: 120px;
        align-self: center;
        margin-bottom: 22px;
    }
}

.profile__info {
    justify-content: space-around;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "title button" "subtitle subtitle";
    grid-column-gap: 18px;
    margin-left: 30px;
}

@media (max-width: 770px) {
    .profile__info {
        max-width: 320px;
        margin: 0;
        align-self: center;
        /* display: flex; */
        /* flex-direction: column; */
    }
}

.profile__info-title {
    grid-area: title;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 770px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 33px;
        padding-bottom: 10px;
    }
}

.profile__info-subtitle {
    grid-area: subtitle;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 770px) {
    .profile__info-subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}

.profile__info-button {
    grid-area: button;
    align-self: center;
    background-color: #000000;
    background-image: url(./images/profil_edit.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}

@media (max-width: 770px) {
    .profile__info-button {
        width: 8px;
        height: 8px;
        background-size: 8px;
    }
}

.profile__info-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.profile__button {
    justify-self: end;
}

@media (max-width: 770px) {
    .profile__button {
        margin: auto;
    }
}

.profile__button-add {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #000000;
    background-image: url(./images/add.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 35px 0 0 0;
    padding: 0;
}

@media (max-width: 770px) {
    .profile__button-add {
        width: 282px;
        /* margin: auto;
        padding-top: 35px; */
    }
}

.profile__button-add:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements {
    max-width: 880px;
    min-width: 320px;
    padding-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 17px;
}

@media (max-width: 900px) {
    .elements {
        max-width: 740px;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }
}

@media (max-width: 770px) {
    .elements {
        max-width: 320px;
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-self: auto;
    }
}

.elements__element {
    max-width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: black;
}

@media (max-width: 770px) {
    .elements__element {
        margin: auto;
    }
}

.elements__image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.elements__info {
    margin: 25px 0 0 21px;
    max-width: 246px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.elements__title {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__like {
    width: 22px;
    height: 19px;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    max-width: 880px;
    min-width: 320px;
    margin-top: 66px;
    padding-bottom: 60px;
}

@media (max-width: 900px) {
    .footer {
        max-width: 740px;
    }
}

@media (max-width: 770px) {
    .footer {
        max-width: 320px;
    }
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media (max-width: 770px) {
    .footer__copyright {
        padding-left: 19px;
        font-size: 14px;
        line-height: 16.94px;
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    display: none;
}

.popup_is-opened {
    display: flex;
}

.popup__container {
    position: relative;
    min-width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: auto;
}

@media (max-width: 770px) {
    .popup__container {
        min-width: 282px;
        min-height: 322px;
    }
}

.popup__form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 36px 37px 36px;
}

@media (max-width: 770px) {
    .popup__form {
        max-width: 238px;
    }
}

.popup__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding: 34px 64px 54px 36px;
}

@media (max-width: 770px) {
    .popup__title {
        font-size: 18px;
        line-height: 21.78px;
        padding: 25px 22px 75px 22px;
    }
}

.popup__input {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
}

.popup__button {
    width: 100%;
    margin: 31px 0 0 0;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 770px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(./images/Close-icon.png);
    background-repeat: no-repeat;
    outline: none;
    border: 0;
    background-color: #000000;
    width: 32px;
    height: 32px;
}

@media (max-width: 770px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -35px;
        right: 0;
    }
}

.popup__close:hover {
    opacity: 0.5;
    cursor: pointer;
}