.popup__container {
    position: relative;
    width: 100%;
    max-width: 430px;
    min-height: 330px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: auto;
    padding: 34px 36px 36px;
    box-sizing: border-box;
}

@media (max-width: 770px) {
    .popup__container {
        max-width: 282px;
        padding: 22px 22px;
        min-height: unset;
    }
}