.profile {
    max-width: 880px;
    min-width: 320px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: space-between;
    grid-template-rows: 120px;
}

@media (max-width: 900px) {
    .profile {
        max-width: 740px;
    }
}

@media (max-width: 770px) {
    .profile {
        max-width: 320px;
        padding-top: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}