.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/close_icon.svg);
    background-repeat: no-repeat;
    outline: none;
    border: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
}

@media (max-width: 770px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -35px;
        right: 0;
    }
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}