.profile__avatar {
    max-width: 168px;
    min-width: 120px;
    background-image: url(../../../images/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

@media (max-width: 770px) {
    .profile__avatar {
        height: 120px;
        align-self: center;
        margin-bottom: 22px;
    }
}